@mixin cardsGrid($textAlign) {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  align-items: center;
  text-align: $textAlign;
  grid-gap: 30px;
}

@mixin cardStyle {
  background-color: $DarkDesaturatedBlueCardBG;
  border-radius: 6px;
}

@mixin flex-center {
  height: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  color: $DesaturatedBlueText;
  font-size: 14px;
}

@mixin followers($color) {
  color: $color;
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}