@import "./variables";
@import "./mixins";
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: $WhiteText;
}
body {
  background-color: $VeryDarkBlueTopBG;
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// main cards
.mainCards {
  @include cardsGrid(center);

  //   individua; card
  .card {
    @include cardStyle();
  }
  .cardFb {
    border-top: 4px solid $Facebook;
  }
  .cardTw {
    border-top: 4px solid $Twitter;
  }
  .cardInsta {
    // border-top: 4px solid $Facebook;
    border-top: 4px solid transparent;
    border-image: $Instagram 1 round;
  }
  .cardYt {
    border-top: 4px solid $Facebook;
  }
}

// today overview cards
.todayCards {
  @include cardsGrid(justify);
  .card {
    @include cardStyle();
  }
}
