@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: #1f212e;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 30px;
}

.mainCards .card {
  background-color: #252a41;
  border-radius: 6px;
}

.mainCards .pWide span:first-child {
  font-size: 2em;
  font-weight: 700;
}

.mainCards .pWide span:last-child {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  color: #8b97c6;
}

.mainCards .decreasedFollowers {
  color: #dc414c;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.mainCards .increasedFollowers {
  color: #1db489;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.mainCards .cardFb {
  border-top: 4px solid #198ff5;
}

.mainCards .cardFb .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardFb .flex-center i {
  color: #198ff5;
}

.mainCards .cardTw {
  border-top: 4px solid #1ca0f2;
}

.mainCards .cardTw .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardTw .flex-center i {
  color: #198ff5;
}

.mainCards .cardInsta {
  border-top: 4px solid transparent;
  -o-border-image: linear-gradient(to right, #fdc468, #df4996) 1 round;
     border-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) 1 round;
     border-image: linear-gradient(to right, #fdc468, #df4996) 1 round;
}

.mainCards .cardInsta .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardInsta .flex-center i {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  background-clip: text;
  color: transparent;
}

.mainCards .cardYt {
  border-top: 4px solid #c4032a;
}

.mainCards .cardYt .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardYt .flex-center i {
  color: #c4032a;
}

.todayCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  grid-gap: 30px;
}

.todayCards .card {
  background-color: #252a41;
  border-radius: 6px;
}

.todayCards .card .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */