@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lightMode {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
}

.lightMode .attribution a {
  text-decoration: none;
}

.lightMode * {
  color: #63687e;
}

.lightMode h1 {
  color: #1e202a;
}

.lightMode .card {
  background-color: #f0f2fa;
  border-radius: 6px;
}

.lightMode .card:hover {
  cursor: pointer;
  background-color: rgba(211, 214, 222, 0.568) !important;
}

.lightMode .pWide span:first-child {
  color: #1e202a;
}

.lightMode .pWide span:last-child {
  color: #63687e;
}

.lightMode h3 {
  color: #1e202a;
}

.lightMode .flex p {
  color: #63687e;
}

.lightMode .flex2 p:first-child {
  color: #1e202a;
}

.darkMode {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #1f212e;
}

.darkMode .attribution a {
  text-decoration: none;
  color: white;
}

.darkMode .title p {
  color: #8b97c6;
}

.darkMode .card {
  background-color: #252a41;
  border-radius: 6px;
}

.darkMode .card:hover {
  cursor: pointer;
  background-color: rgba(48, 53, 80, 0.973) !important;
}

.darkMode .pWide span:first-child {
  color: white;
}

.darkMode .pWide span:last-child {
  color: #8b97c6;
}

.darkMode h3 {
  color: white;
}

.darkMode .flex p {
  color: #8b97c6;
}

.darkMode .flex2 p:first-child {
  color: white;
}

/* Disable scrollbar Firefox */
html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Disable scrollbar Chrome/Safari/Webkit */
}

body {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 30px;
}

.mainCards .pWide span:first-child {
  font-size: 3em;
  font-weight: 700;
}

.mainCards .pWide span:last-child {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  color: #8b97c6;
}

.mainCards .decreasedFollowers {
  font-weight: 700;
  color: #dc414c;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.mainCards .increasedFollowers {
  font-weight: 700;
  color: #1db489;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.mainCards .cardFb {
  border-top: 4px solid #198ff5;
}

.mainCards .cardFb .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardFb .flex-center i {
  color: #198ff5;
}

.mainCards .cardTw {
  border-top: 4px solid #1ca0f2;
}

.mainCards .cardTw .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardTw .flex-center i {
  color: #198ff5;
}

.mainCards .cardInsta {
  border-top: 4px solid transparent;
  -o-border-image: linear-gradient(to right, #fdc468, #df4996) 1 round;
     border-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996)) 1 round;
     border-image: linear-gradient(to right, #fdc468, #df4996) 1 round;
}

.mainCards .cardInsta .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardInsta .flex-center i {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  background-clip: text;
  color: transparent;
}

.mainCards .cardYt {
  border-top: 4px solid #c4032a;
}

.mainCards .cardYt .flex-center {
  height: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  color: #8b97c6;
  font-size: 14px;
}

.mainCards .cardYt .flex-center i {
  color: #c4032a;
}

@media (max-width: 1100px) {
  .mainCards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .mainCards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.todayCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  grid-gap: 30px;
}

.todayCards .card {
  height: 130px;
  padding: auto;
}

.todayCards .card .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

.todayCards .card .flex i {
  font-size: 1.3em;
}

.todayCards .card .flex p {
  font-weight: bold;
  font-size: 14px;
}

.todayCards .card .flex .fa-instagram {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  background-clip: text;
  color: transparent;
}

.todayCards .card .flex .fa-facebook-square {
  color: #198ff5;
}

.todayCards .card .flex .fa-twitter {
  color: #1ca0f2;
}

.todayCards .card .flex .fa-youtube {
  color: #c4032a;
}

.todayCards .card .flex2 {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.todayCards .card .flex2 p:first-child {
  font-size: 2em;
}

.todayCards .card .flex2 .decreasedFollowers {
  font-weight: 700;
  color: #dc414c;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.todayCards .card .flex2 .increasedFollowers {
  font-weight: 700;
  color: #1db489;
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

@media (max-width: 1100px) {
  .todayCards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .todayCards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-image: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider::before {
  -webkit-transform: translate(26px);
          transform: translate(26px);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #aeb3cb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: #252a41;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .round {
  border-radius: 34px;
}

.switch .round::before {
  border-radius: 50%;
}

.attribution {
  margin-top: 0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.attribution a {
  font-size: 1.3em;
  font-weight: 700;
}

@media (max-width: 600px) {
  .attribution {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */