@import "./variables";
@import "./mixins";

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: $VeryDarkBlueTopBG;
  padding-left: 10%;
  padding-right: 10%;
  color: $WhiteText;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// main cards
.mainCards {
  @include cardsGrid(center);

  //   individua; card
  .card {
    @include cardStyle();
  }

  .cardFb {
    border-top: 4px solid $Facebook;

    .flex-center {
      @include flex-center();

      i {
        color: $Facebook;
      }
    }
  }

  .cardTw {
    border-top: 4px solid $Twitter;

    .flex-center {
      @include flex-center();

      i {
        color: $Facebook;
      }
    }
  }

  .cardInsta {
    // border-top: 4px solid $Facebook;
    border-top: 4px solid transparent;
    border-image: $Instagram 1 round;

    .flex-center {
      @include flex-center();

      i {
        background-image: $Instagram;
      }
    }
  }

  .cardYt {
    border-top: 4px solid $YouTube;

    .flex-center {
      @include flex-center();

      i {
        color: $YouTube;
      }
    }
  }
}

// today overview cards
.todayCards {
  @include cardsGrid(justify);

  .card {
    @include cardStyle();
  }
}